@{
    Layout = null;
}
@model AFORO255.AZ.Web.Models.LoginViewModel
<!DOCTYPE html>
<html lang="es">
<head>
    <title>BCP - DEV OPS</title>
    @* <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/assets/favicon.ico")"> *@
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="title" content="BCP - DEV OPS">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="@Url.Content("~/css/common.css")">
</head>
<body>
    <div class="page loader">
        <div class="page1__login">
            <section class="section1">
                <div class="section1__align">
                    <div class="section1__header">
                        <div class="item__list">
                            <div class="item">
                                @* <div class="item__image"><img src="@Url.Content("~/assets/logobcphome.svg")"></div> *@
                                <form class="text-center" role="form" method="post">
                                    @Html.AntiForgeryToken()
                                    <div>
                                        <label for="UserName">Usuario</label>
                                        @Html.EditorFor(model => model.UserName, new { @Value = "mcaceres@aforo255.com" })
                                    </div>
                                    <div>
                                        <label for="Password">Contraseña</label>
                                        @Html.EditorFor(model => model.Password, new { @Value = "aforo255#" })
                                    </div>
                                    <div>
                                        <button type="submit">Acceder</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>